// SPDX-License-Identifier: (GPL-2.0 OR MIT)
//
// Copyright (C) 2016 Freescale Semiconductor, Inc.

/dts-v1/;

#include "imx6ull.dtsi"
#include "imx6ul-14x14-evk.dtsi"

/ {
	model = "Freescale i.MX6 UltraLiteLite 14x14 EVK Board";
	compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";
};

&clks {
	assigned-clocks = <&clks IMX6UL_CLK_PLL3_PFD2>;
	assigned-clock-rates = <320000000>;
};
&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-mode = "rmii";
	phy-handle = <&ethphy1>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			reg = <0>;
			micrel,led-mode = <1>;
			clocks = <&clks IMX6UL_CLK_ENET_REF>;
			clock-names = "rmii-ref";
		};

		ethphy1: ethernet-phy@1 {
			reg = <1>;
			micrel,led-mode = <1>;
			clocks = <&clks IMX6UL_CLK_ENET2_REF>;
			clock-names = "rmii-ref";
		};
	};
};
&iomuxc{
	pinctrl_enet2: enet2grp {
		fsl,pins = <
			MX6_PAD_GPIO1_IO07__ENET2_MDC			0x1b0b0
			MX6_PAD_GPIO1_IO06__ENET2_MDIO			0x1b0b0
			MX6_PAD_ENET2_RX_EN__ENET2_RX_EN		0x1b0b0
			MX6_PAD_ENET2_RX_ER__ENET2_RX_ER		0x1b0b0
			MX6_PAD_ENET2_RX_DATA0__ENET2_RDATA00	0x1b0b0
			MX6_PAD_ENET2_RX_DATA1__ENET2_RDATA01	0x1b0b0
			MX6_PAD_ENET2_TX_EN__ENET2_TX_EN		0x1b010
			MX6_PAD_ENET2_TX_DATA0__ENET2_TDATA00	0x1b010
			MX6_PAD_ENET2_TX_DATA1__ENET2_TDATA01	0x1b010
			MX6_PAD_ENET2_TX_CLK__ENET2_REF_CLK2	0x4001b010
		>;
	};

};

